.Blue10{
  background-color: #003245;
}
Blue9{
  background-color: #004356;
}
Blue8{
  background-color: #005466;
}
Blue7{
  background-color: #006476;
}
Blue6{
  background-color: #007486;
}
Blue5{
  background-color: #008597;
}
Blue4{
  background-color: #0095A7;
}
Blue3{
  background-color: #00A5B7;
}
Blue2{
  background-color: #00B6C7;
}
Blue1{
  background-color: #00C6D7;
}

Purple{
  background-color: #980098;
}
Orange{
  background-color: #ff6532;
}
Yellow{
  background-color: #fff000;
}
Green{
  background-color: #00ff98;
}
Grey{
  background-color: #A5A5A0;
}

Purple2{
  background-color: #663366;
}
Orange2{
  background-color: #993300;
}
Yellow2{
  background-color: #999933;
}
Green2{
  background-color: #009966;
}

GreyLight{
  background-color: #DFDFDF;
}
Background1{
  background-color: #F6F7F9;
}
Background2{
  background-color: #F1F3F2;
  
}
Background3{
  background-color: #EDF2F5;
}
Background4{
  background-color: #DDE8EA;
}
Enlace1{
  background-color: #0086C3;
}
Enlace2{
  background-color: #00BFD6;
}


BlueText10{
  color: #003245;
}